body{
    background-color: orange !important;
    margin: 0 !important;
    padding: 0 !important;
}
.first-nav{
    background-color: lightgray;
    height: 30px;
}
.mid{
    margin: 0 0 0 15rem;
}
.sell{
    text-decoration: none;
    
    color: orange;
}
.mid a{
    text-decoration: none;
    color: #000;
    padding: 0 10px;
}
.pay{
    color: gray;
}
.pay:hover{
    color: blue;
    /* font-size: 20px; */
}
.jum{
    color: gray;
}
.jum:hover{
    color: blue;
    /* font-size: 20px; */
}
.navbar-brand{
    font-size: 36px !important;
    font-weight: 700;
    margin: 0 0 0 1rem;
}
.search{
    margin: 0 0 0 5rem;
}
.search input{
    width: 370px !important;
}
.search button{
    background-color: orange !important;
    border: none;
    color: white;
}
.navbar-nav li{
    padding: 0 20px;
}
.lists{
    background-color: #fff;
    list-style: none;
    padding: 10px 15px;
    margin: 20px 0 30px 0;
    border-radius: 4px;
}
.lists li{
    padding: 3px 0;
    font-size: 14px;
    font-weight: 100;
}
.carousel-item img{
    height: 345px !important;
    margin: 20px 0 30px 0;
    border-radius: 4px;
}
.card{
    border: none !important;
}
.card:hover{
    box-shadow: 0 8px 8px rgba(14, 13, 13, 0.3);
}
.card img{
    height: 130px;
}
.card-title{
    text-align: center;
    font-size: 12px;
}
.box{
    background-color: white;
    padding: 10px 0;
    height: 200px;
    border-radius: 5px;
}
.box2{
    background-color: white;
    margin: 10px 0 0 0;
    padding: 10px 0;
    height: 200px;
    border-radius: 5px;
}
.box3{
    background-color: white;
    margin: 10px 0 0 0;
    padding: 10px 0;
    height: 200px;
    border-radius: 5px;
}