body{
    background-color: #000 !important;
}
.box{
    background-color: white;
    height: 10cm;
}
.card{
    height: 5rem !important;

}
.card{
    border: none !important;
    margin: 40px 0 0 20px;
}
.card img{
    height: 7cm;
}
.card-title{
    font-size: 12px;
    font-weight: 700;
}
.sale{
    position: absolute;
    background-color: rgb(169, 7, 93);
    margin: 6cm 0 0 0;
    width: 225px;
    color: #000;
    height: 1cm;
    padding: 5px 93px;
    border: 1px solid black;
    opacity: 0.6;
}